* {  
    margin: 0;  
    padding: 0;  
    font-family: "微软雅黑";
    letter-spacing: 0.1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

textarea {
    resize: none;
}

body {
    width: 100%;
    height: 40rem;
    background-color: #B9DCED;
    overflow: auto;
}

.font {
    position: fixed;
    width: 100%;
    height: 3.4rem;
    bottom: 0rem;
    background-color: #ffffff;
}

.head {
    overflow: hidden;
    height: 4rem;
}

.headPng {
    width: 100%;
    filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;

}

.main {
    width: 100%;
    padding-bottom: 4rem; 
}

.list {
    width: 100%;
    background-color: #ffffff;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.listIcon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 1rem;
    display: inline-block;
}

.listID {
    display: inline-block;
}

.listContent {
    margin: 1rem auto;
    width: 90%;
    
}


.fontNav {
    display: block;
    float: left;
    margin-left: 4.6rem;
}

.fontPng {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}

.fontAdd {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: -1rem;
}

.fontText {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
}